<!-- Login and register area -->
<div class="login_container p-l-130 p-t-100 p-r-140 p-b-130">
    <div class="row">
        <div class="col-sm-4 p-r-20">
            <h3 class="custome-title">New Customer</h3>
            <p>Register account</p>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made</p>
            <a href="/register"><button type="submit" class="btn-custom btn btn-primary">Continue</button></a>
        </div>
        <div class="col-sm-6 p-l-90">
            <h3 class="custome-title">Sign In</h3>
            <p>I'm a returning customer</p>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="p-t-10 p-b-20">
                    <a href="#"> Forgot password?</a>
                </div>
                <button type="submit" class="btn-custom btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>