<!-- Register area -->
<div class="login_container p-l-130 p-t-100 p-r-140 p-b-130">
    <div class="p-l-90">
        <h3 class="custome-title">Register account</h3>
        <p>If you already have an account with us, please login at the login page.</p>
        <p class="detail_value">Your personal details</p>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <span style="color: #cc0000;">*</span>
                <label class="col-form-label">First Name</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <span style="color: #cc0000;">*</span>
                <label class="col-form-label">Last Name</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <span style="color: #cc0000;">*</span>
                <label class="col-form-label">Your email</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <label class="col-form-label p-r-13">Telephone</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <span style="color: #cc0000;">*</span>
                <label class="col-form-label p-r-20">Address</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <p class="detail_value">Your password</p>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <span style="color: #cc0000;">*</span>
                <label class="col-form-label p-r-9">Password</label>
            </div>
            <div class="col-10">
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center p-l-20 p-b-25">
            <div class="col-auto">
                <!-- <span style="color: #cc0000;">*</span> -->
                <label class="col-form-label p-r-20"><span style="color: #cc0000;">*</span>Confirm <br> Password</label>
            </div>
            <div class="col-10">
                <input type="password" class="form-control">
            </div>
        </div>
        <div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                    I have read and agree to the <a href="#">Privacy Policy</a>
                </label>
            </div>
            <button type="submit" class="btn-custom btn btn-primary btn-sub-register m-r-70">Submit</button>
        </div>
    </div>
</div>